.syncButton{
    width: 200px;
    height: 80px;
    top:-40px;
    float: left;
    margin-top: -50px;
    margin-left: 42.5%;
    background: #3399cc;
    border: 0;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

.syncButton:hover {
    background: #22bb74;
}

.loadingImg{
    width: 50px;
    height: 50px;
}