.dropdown {
  position: absolute;
  right: -200px;
  width: 200px;
  z-index: 4;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}
.dropdownToggeler {
  z-index: 20;
  position: absolute;
  transform: rotate(-90deg) !important;
  background-color: transparent !important;
  right: 0;
  box-shadow: none !important;
  top: 5px;
}

.dropdown > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  display: block;
  cursor: pointer;
  text-align: center;
  border-bottom: 0.1px solid #f6f6f8;
  background: rgb(255, 255, 255);
  height: 45px;
  line-height: 50px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: space-around;
  color: black;
}

.listItem:hover {
  background: lightgrey;
}

.symbol {
  font-size: 1.4rem;
  line-height: 50px;
}

.symbol img {
  vertical-align: middle;
  width: 35px;
}

.disabled {
  cursor: not-allowed;
  color: lightgrey;
}
.disabled:hover {
  background: rgb(255, 255, 255);
}
