.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 500ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  cursor: default;
}
.popup {
  margin: 2vh auto 0 auto;
  background: #fff;
  width: 60vw;
  border-radius: 10px;
}
.popup_header {
  height: 10vh;
  line-height: 10vh;
  background-color: rgb(63, 81, 181);
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  font-size: 1.1em;
  position: relative;
  padding-left: 20px;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 10px 10px 0px 0px;
}
.popup_close {
  position: absolute;
  top: 0px;
  right: 20px;
  transition: all 200ms;
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #1f225c;
  cursor: pointer;
}
.popup_close:hover {
  color: #fff;
}
.popup_content {
  max-height: 84vh;
  overflow: auto;
  padding: 0px 20px;
}
.popup_hint {
  text-align: left;
  font-size: 0.9em;
  color: #a7a8a5;
  padding: 5px 0px;
}
.popup_footer {
  text-align: center;
  padding: 10px;
}
