.formContainer {
  margin: 2rem 0;
}

.label {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: block;
  font-size: 2em;
}

.dateInstr {
  font-size: 15px;
  color: grey;
  font-style: italic;
  margin-left: 4px;
}

.btnsContainer {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: right;
}

.select,
input[type='date'] {
  min-width: 300px;
  min-height: 30px;
  padding: 8px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 20px;
}

.btn {
  border: none;
  min-width: 120px;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  font-size: 1.5em;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn:active {
  transform: scale(0.9);
}

.btn.ok {
  background: green;
}

.btn.cancel {
  background: red;
}

.errorMessage {
  color: red;
}
