body{margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(63, 81, 181);
  display: flex;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 55px;
  font-size: 10px;
}

.hyfIcon {
  height: 50px;
  margin-left: 30px;
}
.nav {
  flex: 5;
  margin-left: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.list > * {
  list-style: none;
}

.item {
  text-align: center;
  font-size: 1.5em;
  width: 100px;
  display: block;
  padding: 20px 15px 15px 5px;
  color: white;
  text-decoration: none;
}

.activeNav {
  border-bottom: 4px solid rgb(255, 64, 129);
}
.item:hover {
  background: rgb(123, 142, 252);
}

.userIcon {
  width: 50px;
  height: 50px;
  margin: 2.5px;
  border-radius: 50%;
  float: right
}

.menu{display: none;
  width: 100px;
  background-color:white;
  color: #787979;
  padding: 8px;
  border: 1px solid rgb(224, 223, 223);
  border-radius: 1px;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

a{text-decoration: none;}

.signed_in{margin: 0 2%;}

.signed_in:hover .menu{display: inline-block;
  cursor: pointer;
}

.signInWrapper {
  flex: 1.5;
  display: flex;
}

.signButtonWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInButton {
  display: inline-block;
  width: 80%;
  padding: 3px;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  transition: all 0.5s ease;
}

.signInButton:hover{
  background-color: white;
  color: rgb(63, 81, 181);
}

.signInButton:active {
  transform: scale(0.7);
}

.visitorWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitor {
  display: inline-block;
  font-size: 2em;
  color: white;
}
