.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: 2rem;
  font-size: 1.5em;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  font-size: 1.5em;
}

.addButton {
  border: none;
  margin: none;
  background-color: lightblue;
  padding: 10px;
  color: white;
  background-color: rgb(63, 81, 181);
  float: right;
  margin: 2rem 1rem 1rem 0;
  cursor: pointer;
  transition: all 1s ease;
}

.addButton:active {
  transform: scale(0.6);
}
