*{box-sizing: border-box;
  list-style-type: none;
}
  
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}
  
h3{display: inline-block;
}
  
.Checkbox{display: inline-block;
  margin:10px;
}
  
.Checkboxes{display: inline-block;
}
  
.Attendant{display: inline-block;
  width: 100%;
  margin:1%;
  background-color:rgb(255, 255, 255);
  box-shadow:  0px 0px 18px 1px rgba(0,0,0,0.1);
}
  
.AttendantName{display: inline-block;
  width: 200px;
  padding:5px 5px 5px 10px;
  background-color:rgb(255, 255, 255);
  border-right: 1px solid rgb(224, 223, 223);
  /* box-shadow:  0px 0px 18px 1px rgba(0,0,0,0.1);; */
}

.Title{display: block;
  border-bottom: 1px solid black;
  clear: both;
  text-align:left;
  margin: 0 10% 0 10%
}

.message{display: block;
  clear: both;
  text-align: center;
  margin: 20px;

}
  
.buttons{
  float: right;
  margin-right: 50px;
}

.button{width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 8px;
  background-color: rgb(128, 188, 240);
  border: none;
}

.button:disabled{background-color: rgb(33, 150, 243);
}

.button:hover{background-color: rgb(157, 66, 185)}