*{box-sizing: border-box;
  list-style-type: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
}

.content_wrapper{align-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 3px 10px 10px 10px;
  padding: 10px;
  /* min-width: 1000px; */
}
/* 
.wrapper{
  min-width: 1100px;
  overflow-x: auto ;
  overflow-y: visible;
} */

h3{display: inline-block;}

.center{
  display: inline-block;
  margin:10px;
}

.week_checkboxes{display: inline-block;
  width: 100px;
}

.checkboxes{display: inline-block;
  height: 80px;
  margin: auto 20px auto 20px;
  position: relative;
}

.Attendant{
  width: 95%;
  height: 70px;
  margin: 5px 2.5% 5px 2.5%;
  border: 1px solid rgb(224, 223, 223);
  clear: both;
}

.AttendantName{display: inline-block;
  color: #787979;
  width: 200px;
  max-height: 60px;
  margin:5px 5px 5px 30px;
  position: relative;
  top: -15px;
}

.Title{display: block;
  color: #787979;
  border-bottom: 1px solid rgb(224, 223, 223);
  width: 98%;
  margin: 10px 1% 0 1%;
  clear: both;
  text-align:center;
}

.Title_inner{padding-bottom: 5px;
  margin-bottom: 5px;
}

.group_name{color: #787979;
  margin-left: 2.5%;
  top:-5px;
  float: left;
}

.group_name_inner{width: 300px;
  float: left;}

.week_indicator{ width: 82px;
  margin: 0 9px;
  float: left;
  text-align: center;
}

.message{display: block;
  clear: both;
  text-align: center;
  margin: 20px;
  color: #787979;
}

.buttons{float: left;
  width: 98%;
  margin: 10px 0 50px 40px;
  padding-top: 5px; 
  border-top: 1px solid rgb(224, 223, 223);
  clear: both;
}

.button_save{width: 110px;
  height:35px;
  border-radius: 17.5px;
  margin: 5px 5px 20px 5px;
  color: #e0f3eb;
  background-color: #38c18b;
  border: none;
  cursor: pointer;
}

.button_undo{width: 110px;
  height: 35px;
  border-radius: 17.5px;
  margin: 5px 5px 20px 5px;
  color: #e0f3eb;
  background-color: #a28efb;
  border: none;
  cursor: pointer;
}

.button_cancel{width: 110px;
  height:35px;
  border-radius: 17.5px;
  margin: 5px 5px 20px 5px;
  color: #9da2a9;
  background-color: #e7eaec;
  border: none;
  cursor: pointer;
}

.button_cancel:disabled{background-color: #e7eaeca1;}
.button_undo:disabled{background-color:#a28efb96;}
.button_save:disabled{background-color: #3bcd9385;}
.button_undo:hover{background-color: #7d65e6;}
.button_save:hover{background-color: #299a6d;}
.button_cancel:hover{background-color: #c8cccf;
  color: #e0f3eb;
}

/* checkbox style */
.checkbox {display: inline-block;
  margin: 10px 30px;
  width: 100px;
}
/* outter */
.checkbox input[type="checkbox"] {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 40px;
  background: #ebebeb;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
/* center circle */
.checkbox input[type="checkbox"]:after {
  content: '';
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  color: #555555;
  position: absolute;
  margin: auto auto;
  left: 0; right: 0; bottom: 0; top: 0;
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
 }
/* ring */
.checkbox input[type="checkbox"]:before {
  position: absolute;
  margin: auto auto;
  left: 0; right: 0; bottom: 0; top: 0;
  content: '';
  display: block;
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
/* ring on hover */
.checkbox input[type="checkbox"]:hover:before {
  height: 30px;
  width: 30px;
}

.checkbox input[type="checkbox"]:checked:before {
  height: 100%;
  width: 100%;
  background: #27b08a;
  border: none;
  border-radius: 0;
}

.checkbox input[type="checkbox"]:focus {
  outline: none;
}

.checkbox input[type="checkbox"].homework:after { content: 'H'; }
.checkbox input[type="checkbox"].attendance:after { content: 'A'; }

