body{margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(63, 81, 181);
  display: flex;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 55px;
  font-size: 10px;
}

.hyfIcon {
  height: 50px;
  margin-left: 30px;
}
.nav {
  flex: 5;
  margin-left: 20px;
  letter-spacing: .05em;
  text-transform: uppercase;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.list > * {
  list-style: none;
}

.item {
  text-align: center;
  font-size: 1.5em;
  width: 100px;
  display: block;
  padding: 20px 15px 15px 5px;
  color: white;
  text-decoration: none;
}

.activeNav {
  border-bottom: 4px solid rgb(255, 64, 129);
}
.item:hover {
  background: rgb(123, 142, 252);
}

.userIcon {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}

.signInWrapper {
  flex: 1.5;
  display: flex;
}

.signButtonWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInButton {
  display: block;
  width: 80%;
  padding: 3px;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  background-color: white;
  color: rgb(50, 73, 204);
  border-radius: 5px;
  box-shadow: 0 2px 10px;
  transition: all 1s ease;
}

.signInButton:active {
  transform: scale(0.7);
}

.visitorWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitor {
  display: inline-block;
  font-size: 2em;
  color: white;
}
