
.homeworkPage {
    padding: 0vh 5vw;
    min-height: 400px;
}

.navBar {
    margin-bottom: 5vh;
    margin-top: -3vh;
}

.navLink {
    padding: 1vh 1vw;
    border: 2px solid;
    color: green;
    margin-right: 0.5vw;
    font-size: 110%;
}


.navLink:hover {
    padding: 1vh 1.5vw;
    font-weight: bold;
    background-color: beige;
}

.navLinkActive {
    background-color: beige;
}

h2 {
    font-family: Verdana;
    color: rebeccapurple;
}

.addAssignmentForm button {
    padding: 1vh 1vw;
    cursor: pointer;
}

.assignmentsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}

.assignmentDiv {
    margin: 5vh 0vw;
    width: 45%;
}

.assignmentDiv h3 {
   display: block;
}

.assignmentDiv img {
    display: block;
    width: 20%;
    margin: -2vh 0vw 2vh 0vw;
    padding: 0.5vh;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
}

.assignmentDiv textarea {
    width: 100%;
    padding: 2vh 1vw;
    font-size: 110%;
}

.submission {
    border: 2px dashed rgb(66, 143, 66);
    padding: 2vh 3vw 4vh 3vw;;
    margin-bottom: 3vh;
    position: relative;
}

.timestamp {
    position: absolute;
    top: 0vh;
    right: 1.5vw;
    font-size: 80%;
    color: gray;
}

.assignReviewer {
    position: absolute;
    top: 7vh;
    right: 1vw;
}

.assignReviewer h4 {
    color: green;
}

.assignReviewer button,
.commentsDiv button {
    padding: 1vh 1vw;
    cursor: pointer;
}

.commentsDiv {
    margin-top: 2vh;
}

.submitBtn {
    padding: 1vh 2vw;
    cursor: pointer;
}

.expandBtn {
    position: absolute;
    bottom: 2vh;
    right: 2vw;
}
.hideBtn {
    position: absolute;
    top: 17vh;
    right: 2vw; 
}

.submitCommentBtn {
    margin-left: 14vw;
    margin-top: 1vh;
}

.review {
    padding: 0.5vh 1.5vw;
    width: 100%;
    border: 2px dotted purple;
    margin-top: 3vh;
    position: relative;
}

.submitForm {
    margin: 1vh 0vw;
}

.submitForm input {
    padding: 1vh 2vw;
    width: 50%;
    font-size: 110%;
}

.submitForm button {
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    cursor: pointer;
}
