
.mainContainer {
    padding: 0vh 5vw;
}

.navBar {
    margin-bottom: 5vh;
    margin-top: -3vh;
}

.navLink {
    padding: 1vh 1vw;
    border: 2px solid;
    color: green;
    margin-right: 0.5vw;
    font-size: 110%;
}


.navLink:hover {
    padding: 1vh 1.5vw;
    font-weight: bold;
    background-color: beige;
}

.navLinkActive {
    background-color: beige;
}

h2 {
    font-family: Verdana;
    color: rebeccapurple;
}

.submissionsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 7vh;
}

.reviewsContainer {
    padding: 2vh 3vw;
    width: 40%;
}

.hmwrkSubmission {
    margin: 5vh 0vw;
    width: 45%;
}

.hmwrkSubmission .submitter {
    border: 2px dashed rgb(66, 143, 66);
    padding: 2vh 3vw;
    margin-bottom: 3vh;
    position: relative;
}

.hmwrkSubmission h3 {
   display: block;
}

.hmwrkSubmission a {
    position: absolute;
    top: 13vh;
    right: 15vw;    
}

.hmwrkSubmission img {
    display: block;
    width: 20%;
    margin: -2vh 0vw 2vh 0vw;
    padding: 0.5vh;
    border: 2px solid rebeccapurple;
    border-radius: 50%;
}

.timestamp {
    position: absolute;
    bottom: 0vh;
    right: 1vw;
    font-size: 80%;
    color: gray;
}

.hmwrkSubmission textarea {
    width: 100%;
    padding: 2vh 1vw;
    font-size: 110%;
}

.assignReviewer {
    position: absolute;
    top: 2vh;
    right: 1vw;
}

.assignReviewer button,
.replyContainer button {
    margin-left: 1vw;
    padding: 1vh 1vw;
    cursor: pointer;
}

.replyContainer button:nth-child(2) {
    margin-left: 10vw;
    margin-top: 1vh;   
}

.addBtn {
    margin-left: 40vw;
    padding: 1vh 2vw;
    cursor: pointer;
}

.addForm {
    margin: auto;
    width: 60%;
}

.addForm input {
    padding: 1vh 2vw;
    width: 50%;
    font-size: 110%;
}

.addForm button {
    padding: 1vh 1vw;
    cursor: pointer;
}




