.linkToRepo{
    float:right;
    cursor: pointer;
    text-align: center;
    margin-right: 10%;
    margin: 10px;
}

.linkToRepo:hover{
    box-shadow:  0px 3px 18px 1px rgba(0,0,0,0.1);
    background-color: rgb(224, 224, 226);
}

.linkToRepo a{
    text-decoration: none;
    color: #0366d6;
}

.readmeNoRepo{
    display: block;
    clear: both;
    text-align: center;
    margin: 20px;
}

.markdownBody{display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    word-wrap: break-word;
    clear: both;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: white;
    border: 1px solid rgb(224, 223, 223);
    border-radius: 10px;
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
    cursor: pointer;
}

.markdownBody:before {
    display: table;
    content: "";
}

.markdownBody:after {
    display: table;
    clear: both;
    content: "";
}

.markdownBody>*:first-child {
    margin-top: 0 !important;
}

.markdownBody>*:last-child {
    margin-bottom: 0 !important;
}

.markdownBody a {
    color: #0366d6;
    text-decoration: none;
}

.markdownBody a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdownBody .absent {
    color: #cb2431;
}

.markdownBody .anchor {
    float: right;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdownBody .anchor:focus {
    outline: none;
}

.markdownBody p,
.markdownBody blockquote,
.markdownBody ul,
.markdownBody ol,
.markdownBody dl,
.markdownBody table,
.markdownBody pre {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdownBody hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.markdownBody blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

.markdownBody blockquote>:first-child {
    margin-top: 0;
}

.markdownBody blockquote>:last-child {
    margin-bottom: 0;
}

.markdownBody kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

.markdownBody .loweralpha{
    list-style-type: lower-alpha;
}

.markdownBody h1,
.markdownBody h2,
.markdownBody h3,
.markdownBody h4,
.markdownBody h5,
.markdownBody h6{
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdownBody h1 .octicon-link,
.markdownBody h2 .octicon-link,
.markdownBody h3 .octicon-link,
.markdownBody h4 .octicon-link,
.markdownBody h5 .octicon-link,
.markdownBody h6 .octicon-link{
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.markdownBody h1:hover .anchor,
.markdownBody h2:hover .anchor,
.markdownBody h3:hover .anchor,
.markdownBody h4:hover .anchor,
.markdownBody h5:hover .anchor,
.markdownBody h6:hover .anchor{
    text-decoration: none;
}

.markdownBody h1:hover .anchor .octicon-link,
.markdownBody h2:hover .anchor .octicon-link,
.markdownBody h3:hover .anchor .octicon-link,
.markdownBody h4:hover .anchor .octicon-link,
.markdownBody h5:hover .anchor .octicon-link,
.markdownBody h6:hover .anchor .octicon-link{
    visibility: visible;
}

.markdownBody h1 tt,
.markdownBody h1 code,
.markdownBody h2 tt,
.markdownBody h2 code,
.markdownBody h3 tt,
.markdownBody h3 code,
.markdownBody h4 tt,
.markdownBody h4 code,
.markdownBody h5 tt,
.markdownBody h5 code,
.markdownBody h6 tt,
.markdownBody h6 code{
    font-size: inherit;
}

.markdownBody h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
}

.markdownBody h2{
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

.markdownBody h3{
    font-size: 1.25em;
}

.markdownBody h4{
    font-size: 1em;
}

.markdownBody h5{
    font-size: 0.875em;
}

.markdownBody h6{
    font-size: 0.85em;
    color: #6a737d;
}

.markdownBody ul,
.markdownBody ol{
    padding-left: 2em;
}

.markdownBody ul.no-list,
.markdownBody ol.no-list{
    padding: 0;
    list-style-type: none;
}

.markdownBody ul ul,
.markdownBody ul ol,
.markdownBody ol ol,
.markdownBody ol ul{
    margin-top: 0;
    margin-bottom: 0;
}

.markdownBody li>p{
    margin-top: 16px;
}

.markdownBody li+li{
    margin-top: 0.25em;
}

.markdownBody dl{
    padding: 0;
}

.markdownBody dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdownBody dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdownBody table {
    display: block;
    width: 100%;
    overflow: auto;
}

.markdownBody table th {
    font-weight: 600;
}

.markdownBody table th,
.markdownBody table td {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdownBody table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdownBody table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.markdownBody table img {
    background-color: transparent;
}

.markdownBody img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff;
}

.markdownBody img[align=right] {
    padding-left: 20px;
}

.markdown-body img[align=left] {
    padding-right: 20px;
}

.markdownBody .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdownBody span.frame {
    display: block;
    overflow: hidden;
}

.markdownBody span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid #dfe2e5;
}

.markdownBody span.frame span img {
    display: block;
    float: left;
}

.markdownBody span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: #24292e;
}

.markdownBody span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownBody span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdownBody span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdownBody span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdownBody span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdownBody span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdownBody span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdownBody span.float-left span {
    margin: 13px 0 0
}

.markdownBody span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdownBody span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdownBody code,
.markdownBody tt {
  padding: 0.2em 0;
  margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.markdownBody code::before,
.markdownBody code::after,
.markdownBody tt::before,
.markdownBody tt::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}

.markdownBody code br,
.markdownBody tt br {
    display: none;
}

.markdownBody del code {
    text-decoration: inherit;
}

.markdownBody pre {
    word-wrap: normal;
}

.markdownBody pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdownBody .highlight {
    margin-bottom: 16px;
}

.markdownBody .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdownBody .highlight pre,
.markdownBody pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

.markdownBody pre code,
.markdownBody pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdownBody pre code::before,
.markdownBody pre code::after,
.markdownBody pre tt::before,
.markdownBody pre tt::after {
    content: normal;
}

.markdownBody .csv-data td,
.markdownBody .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdownBody .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: #fff;
    border: 0;
}

.markdownBody .csv-data tr {
    border-top: 0;
}

.markdownBody .csv-data th {
    font-weight: 600;
    background: #f6f8fa;
    border-top: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

