@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
  
.profilePage {
  background: #f0f0f0;
  width: 70%;
  max-width: 800px;
  min-width: 375px;
  margin: 0 auto;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.backButton {
  background-color: #3399cc;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.profilePage h1 {
  background: #3399cc;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.profilePage .profileContainer {
  background: #f0f0f0;
  padding: 1% 4%;
}

/* .profilePage input[type="email"],
.profilePage input[type="text"],
.profilePage input[type="tel"],
.profilePage input[type="password"], .profilePage select, .profilePage textarea {
  width: 100%;
  background: #fff;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
} */

.profilePage select {
    width: 100%;
  }

.profilePage textarea {
    height: 100px;
  }

  .saveProfile {
    width: 100%;
    background: #3399cc;
    border: 0;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
  }
  
  .saveProfile:hover {
    background: #22bb74;
  }
  
  .resetProfile{
    width: 100%;
    background: #03161f;
    border: 0;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
  }
  
  .resetProfile:hover{
    background-color: rgb(70, 4, 4);
  }


  
.matLabel {
  display: block;
  font-size: 16px;
  transform: translateY(25px);
  color:grey;
  transition: all 0.35s;
}

.matInput {
  position: relative;
  background: transparent;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0;
  font-size: 16px;
}

.matDiv {
  padding: 30px 0 0 0;
  position: relative;
}

.matDiv.small {
  width: calc(50% - 20px);
  display: inline-block;
  margin-right: 10px;
}

.matDiv:after, .matDiv:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e2e2e2; 
  bottom: 0;
  left: 0;
  transition: all 0.35s;
}

.matDiv::after {
  background-color: #8E8DBE;
  transform: scaleX(0);
}

.isActive::after {
  transform: scaleX(1);
}

.isActive .matLabel {
  color: #8E8DBE;
}

.isCompleted .matLabel {
  font-size: 12px;
  transform: translateY(0);
}
