@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html {
    box-sizing: border-box;
  }
*, *:before, *:after {
  box-sizing: inherit;
}
  
.profilePage {
  background: #f0f0f0;
  width: 70%;
  max-width: 800px;
  min-width: 375px;
  margin: 0 auto;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.backButton {
  background-color: #3399cc;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin:  ;
  cursor: pointer;
}

.profilePage h1 {
  background: #3399cc;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.profilePage .profileContainer {
  background: #f0f0f0;
  padding: 1% 4%;
}

.profilePage input[type="email"],
.profilePage input[type="text"],
.profilePage input[type="tel"],
.profilePage input[type="password"], .profilePage select, .profilePage textarea {
  width: 100%;
  background: #fff;
  margin-bottom: 2%;
  border: 1px solid #ccc;
  padding: 2%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

.profilePage select {
    width: 100%;
  }

.profilePage textarea {
    height: 100px;
  }

  .saveProfile {
    width: 100%;
    background: #3399cc;
    border: 0;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
  }
  
  .saveProfile:hover {
    background: #22bb74;
  }
  
  .resetProfile{
    width: 100%;
    background: #03161f;
    border: 0;
    padding: 3%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
  }
  
  .resetProfile:hover{
    background-color: rgb(70, 4, 4);
  }