@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  

.sc-edprofile {
  background: #f0f0f0;
  width: 800px;
  margin: 0 auto;
  margin-top: 8px;
  margin-bottom: 2%;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.sc-edprofile h1 {
    background: #3399cc;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
  }

.sc-edprofile .sc-container {
  background: #f0f0f0;
  padding: 6% 4%;
}

.sc-edprofile input[type="email"],
.sc-edprofile input[type="text"],
.sc-edprofile input[type="tel"],
.sc-edprofile input[type="password"], .sc-edprofile select, .sc-edprofile textarea {
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 95%;
  color: #555;
}

.sc-edprofile select {
    width: 100%;
  }

.sc-edprofile textarea {
    height: 100px;
  }

.sc-edprofile input[type="submit"] {
  width: 100%;
  background: #3399cc;
  border: 0;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  color: #fff;
  cursor: pointer;
  transition: background .3s;
  -webkit-transition: background .3s;
}

.sc-edprofile input[type="submit"]:hover {
  background: #2288bb;
}

.sc-reset{
    background: #662344;
}