.modalToggler {
  border: none;
  margin: none;
  padding: 10px;
  color: white;
  background-color: rgb(63, 81, 181);
  float: right;
  margin: 0 1rem 1rem 0;
  cursor: pointer;
  transition: all 1s ease;
}

.modalToggler:active {
  transform: scale(0.6);
}

.modal {
  width: 50vw;
}

.loader {
  display: block;
  margin: 0 auto;
}

.tabs{clear: both;
  display: block;

}

.tab{float: left;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(224, 223, 223);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.1);
  cursor: pointer;
}

.tab:hover{ box-shadow:  0px 3px 18px 1px rgba(0,0,0,0.1);
  background-color: rgb(226, 224, 224);
}


