.loginInput {
  cursor: text;
  transform: translateY(-25px);
  transition: transform 0.3s ease;
  left: 0;
}

.loginInput {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  transition: 0.6s;
  border: none;
  border-bottom: 1px solid #CCC;
  background-color: transparent;
}

.loginInput:focus {
  outline: none;
  border-bottom: 2px solid #03a9f4;
}

.animation .loginInput {
  transform: translateY(-55px);
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.animation-color .loginInput {
  color: #03a9f4;
}

.ticketContainer {
  margin: 0 auto;
  width: 40%;
  clear: both;
  padding-top: 20px;
}

.Tickets {
  margin: 0 auto;
  overflow: auto;
  display: block;
  width: 34vw;
  height: 25vh;
  font-size: 0.9rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5%;

}

.Tickets:focus {
  outline: none !important;
  border: 2px solid #03a9f4;
}

.ticketBtnBack,
.ticketBtnNext {
  margin: 0 auto;
  padding: 3%;
  margin: 3% 35% 0% 68%;
  overflow: auto;
  display: block;
  width: 10vw;
  color: white;
  background: #3f51b5;
  border: none;
  border-radius: 2px;
}

.ticketBtnBack {
  float: left;
}

.codeInput {
  width: 20vw;
  height: 50vh;
  margin: 0% auto;
  margin-top: 2%;
  display: block;
  padding: 1%;
  border-top-style: hidden !important;
  border-bottom: 2px solid #3cb0fd;
  border-left-style: hidden !important;
  border-right-style: hidden !important;
  background-image: none !important;
  margin-bottom: 1%;
}

.inputContainer,
.footer,
  {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.StepContainer {
  width: 60%;
  margin: 0 auto;
  overflow: hidden;
}

.inputContainer {
  width: 100%;
}

.progressBar {
  counter-reset: step;
  margin-top: 0;
}

.progressBar li {
  list-style-type: none;
  width: 33%;
  float: left;
  font-size: 0.8rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}

.progressBar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 3px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progressBar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressBar li:first-child:after {
  content: none;
}

.progressBar li.active {
  color: green;
}

.progressBar li.active:before {
  border-color: #55b776;
}

.progressBar li.active+li:after {
  background-color: #55b776;
}

.btnList {
  list-style-type: none;
  width: 50%;
  margin: 0 auto;
}

.back,
.next {
  margin-bottom: 10px;
  float: left;
  overflow: hidden;
  border: 1px solid #15aeec;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 0.9rem;
  padding: 10px 20px 10px 20px;
  ;
}

.back {
  float: left;
}

.next {
  float: right;
}

.next:focus,
.back:focus {
  outline: none;
}

.next:hover,
.back:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.disabledBtn {
    border: 1px solid #dddddd;
    display: block;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 0.9rem;
    padding: 10px 20px 10px 20px;
    background: gainsboro;
}
.disabledBtn:hover{
  background: gainsboro;
}
.displayNone{
  display: none;
}
.container,
.footer {
  content: '';
  clear: both;
  overflow: hidden;
}

.container {
  margin-bottom: 1%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.521);
  opacity: 1;
  font-size: 0.8rem;
  /* Firefox */
}

.formContainer {
  border: 1px solid white;
  width: 50%;
  margin: 0 auto;
  background: white;
  -webkit-box-shadow: 0px -1px 5px 0px rgba(204, 204, 204, 0.65);
  -moz-box-shadow: 0px -1px 5px 0px rgba(204, 204, 204, 0.65);
  box-shadow: 0px -1px 5px 0px rgba(204, 204, 204, 0.65);
  margin-bottom: 2%;
}
