html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.App{
  background-color: rgb(250,250,250);
  min-height: 100%;
  -webkit-tap-highlight-color: transparent;
}

.userSearchBox {
  margin-left: 63px;
  line-height: 2;
  font-size: 18px;
  height: auto;
  padding-left: 20px;
  border: none;
  border-bottom: 1px solid rgb(179, 179, 179);
  background-color: transparent;
}

.mainUl{
    margin-top: 40px;
}

.userList {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 5px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.userContainer{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0px;
    background-color: rgb(226, 226, 226);
    justify-content: space-around;
    list-style: none;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-shadow: 0px,0px,0px,5px black;
}

svg{
  height: 15px;
  fill: rgba(88, 88, 88, 0.74);
}

.hidden { 
  display:none !important;
}

.userInformation {
  position: relative;
  color: rgba(0,0,0,0.54);
  background-color: rgb(255,255,255);
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  width: calc(100% / 4 - 20px);
  height: auto;
  margin: 8px 4px;
  /* padding: 8px; */
  font-size: 14px;
  
}



.userName{
  color: rgba(8, 8, 8, 0.87);
  font-size: 1.4em;
  padding-left: 10px;
  padding-top:5px;
}

.imageContainer {
  width: 50%;
  border-radius: 50%;
  margin-left: 25%;
  display: block;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
}
.userAvatar{
  width: 100%;
}

.titleContainer {
  text-align: center;
  margin-top: 16px;
}

.titleContainer > div {
  margin: 8px;
}

.register_date {
  font-size: 12px;
}

.userName {

}

.role {

}

.groupName {

}

.linksContainer {
  position: relative;
  margin: 32px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}
.linkContainer {
  display: inline-block;
  position: relative;
}
.linksContainer:before {
  content: '';
  position: absolute;
  top: -5px;
  width: 100%;
  height: 1px;
  background-color: grey;
}

.linkContainer a {
  width: 25px;
}
.linkContainer svg {
  width: 25px;
  height: auto;
}

.infoOverlay {
  position: absolute;
  background: white;
  padding: 5px 10px;
  transform: translateX(-50%);
  z-index: 12;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.54);
  left:12.5px;
  top: -25px;
  opacity: 0;
}

.active {
  opacity: 1;
}

.editUserButton{
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 16px;
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  -o-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.editUserButton button {
  background-color: transparent; 
  border: none;
  color: rgba(0,0,0,0.54);
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  
}
.editUserButton:hover { 
  background-color: rgb(212, 212, 211);
  border-radius: 2px;
};


.linksContainer > div {
  position: relative;
}

.listSelector {
    position: relative;
    top: 90px;
    margin-right: 5px;
    float: right;
    background: transparent;
    background-color: rgb(226, 226, 226);
    width: 250px;
    border: none;
    outline: none;
    padding: 8px 0;
    font-size: 16px;
  }




@media only screen and (min-width:768px) and (max-width:1024px ){
  .userInformation{
      width:48%;
  }
}

@media only screen and (max-width:768px){
  .userInformation{
      width:96%;
  }
}
