.Popup_input{
    width: 270px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-left: 28%;
    display: block;
}
.Popup_button{
    width: 100px;
    height: 30px;
    margin-left: 28%;
    margin-bottom: 20px;
    border-radius: 10px;
}